<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KritagyaChennai</title>
    <link rel="stylesheet" href="/style/style-list-chennai.css">
    <link rel="stylesheet" href="/style/all.min.css">
</head>
<body>

    <div class="container">

        <div class="card">
            <div id="shopping">
                <i class="fas fa-cart-plus"><sup id="items-added"></sup></i>
            </div>
            <div class="images">
                <h2>CFHC</h2>
                <div class="slider"><img id="big-image" src="/Cfhc/Image/cfhcones.jpg" alt=""></div>
                <div id="img-slider" class="img-slider">
                    <div class="imgs"><img id="Nomos1" src="/Cfhc/Images/cfhctwo.jpg" alt=""></div>
                    <div class="imgs"><img id="Nomos2" src="/Cfhc/Images/chfcthree.jpg" alt=""></div>
                    <div class="imgs"><img id="Nomos3" src="/Cfhc/Images/cfhcfour.jpg" alt=""></div>
                </div>
            </div>
            <div class="infos">
                <h1>Christ Faith Home For Children</h1>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div id="more-infos">
                    <h5 class="choose">Description</h5>
                    <h5 class="choose">Requirements</h5>
                    <h5 class="choose">Contact Us</h5>
                </div>
                <div id="info-content">
                    
                    <p class="paragraph" style="display: block;">OUR VISION<br>To develop a society, where everyone stands on their own legs and “Catches a Fish a Day” – a faith to help them find permanent relief.<br>OUR MISSION<br>To support and empower parent-less children, deserted women and people below the poverty-line through institutions including orphanages, schools and vocational training units</p>
                    <p class="paragraph" style="display: none;">Funds: Rs.30,000 for Education<br>Volunteers: For Teaching<br>Food: 10Kg of Raw Rice / week</p>
                    <p class="paragraph" style="display: none;">Address: 3/91, Mettu Colony, Manapakkam , Chennai, Tamil Nadu<br>We Are Open: on 8.30 AM - 7.30 PM<br>Call: +91-44-22520588 | +91-44-22522771<br>Email: info@christfaithhome.in</p>
                </div>
                <div class="quantity">
                    <h3>Quantity for Rice(in Kg)</h3>
                <input type="number" name="items" id="counter" min="1" value="1">
            </div>
                <div class="buttons">
                    <button id="add-to-cart"><i class="fas fa-shopping-cart"></i>Buy Now</button>
                    <button>Monetary Donation</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/app.js"></script>
    
    
</body>
</html> 