<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Technica Website</title>
        <link rel="stylesheet" href="/style/style-store.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        
        
        {{>navbar}}


       <h2 style="text-align: center;">Stores In Locality : </h2>
      <br><br>
        
        <div class="container">
          <div class="row">
            <div class="col-sm">
               <div class="property-card">
    <a href="#">
      <div class="property-imageone">
        <div class="property-image-title">
          <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
        </div>
      </div></a>
    <div class="property-description">
      <h5> InStore Fashions </h5>
      <p>ABOUT<br>Instore passionately believes in creating affordable fashion for women of all ages.  It works with many artisans, to bring to you the charm, colours and aesthetics of the timeless fabrics of India.</p>
    </div>
    <a href="https://instore.co.in/">
      <div class="property-social-icons">
        <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
      </div>
    </a>
  </div>
            </div>
            <div class="col-sm">
              <div class="property-card">
                <a href="#">
                  <div class="property-imagetwo">
                    <div class="property-image-title">
                      <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                    </div>
                  </div></a>
                <div class="property-description">
                  <h5> Amma Naana </h5>
                  <p>ABOUT<br>Amma Naana sells fresh produce, meats, dairy products, bakery goods alongside canned, frozen and prepared foods. In addition, we also sell a full range of household, healthcare and personal care items.</p>
                </div>
                <a href="https://www.justdial.com/Chennai/Amma-Naana-Departmental-Store-Opposite-Park-Sheraton-Hotel-Teynampet/044PXX44-XX44-000517183616-R1R0_BZDET">
                  <div class="property-social-icons">
                    <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                  </div>
                </a>
              </div>
                        </div>
            <div class="col-sm">
              <div class="property-card">
                <a href="#">
                  <div class="property-imagethree">
                    <div class="property-image-title">
                      <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                    </div>
                  </div></a>
                <div class="property-description">
                  <h5>Chennai Grocers</h5>
                  <p>ABOUT<br>Chennai Grocers is a grocery store which offers a wide range of food products- fresh fruits and vegetables, fresh and frozen meats and seafood. </p>
                </div>
                <a href="https://www.chennaigrocers.com/collections/category-6">
                  <div class="property-social-icons">
                    <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                  </div>
                </a>
              </div>
                        </div>
                        <div class="col-sm">
                          <div class="property-card">
                            <a href="#">
                              <div class="property-imagefour">
                                <div class="property-image-title">
                                  <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                                </div>
                              </div></a>
                            <div class="property-description">
                              <h5>Nilgiri’s Supermarket</h5>
                              <p>ABOUT<br>We offer a wide range of food products- rice, pulses, fresh fruits and vegetables, fresh and frozen meats and seafood.</p>
                            </div>
                            <a href="https://www.dunzo.com/chennai/nilgiris-egmore">
                              <div class="property-social-icons">
                                <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                              </div>
                            </a>
                          </div>
                     </div>
              </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html> 