<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title> Our team </title>
    <link rel = "stylesheet" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "/style/justincase.css">
    {{>cssLink}}
</head>
<body>
    <div>
        {{>navbar}}
    <div class="team-area pad">
        <div class= "single-team">
            <img src= "/Image/AD.jpg" alt="">
            <div class= "team-text">
                <h2>Akriti Dalal</h2>
                <p> ISTE- Core Committee Member </p>
                <p>
                    <a href="https://www.facebook.com/akriti.dalal.31"><i class = "fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/akriti_dalal/"><i class = "fa fa-instagram"></i></a>
                    <a href="#"><i class = "fa fa-linkedin"></i></a>
                    <a href="#"><i class = "fa fa-github"></i></a>
                </p>
            </div>
        </div>
        <div class= "single-team">
            <img src= "/Image/JM.jpg" alt="">
            <div class= "team-text">
                <h2>Jayashree Murugesan</h2>
                <p> ISTE- Core Committee Member </p>
                <p>
                    <a href="https://www.facebook.com/jayashree.murugesan.75/"><i class = "fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/jaya.m02/"><i class = "fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/jayashree-murugesan/"><i class = "fa fa-linkedin"></i></a>
                    <a href="https://github.com/JayashreeMuru"><i class = "fa fa-github"></i></a>
                </p>
            </div>
        </div>
        <div class= "single-team">
            <img src= "/Image/KT.jpg" alt="">
            <div class= "team-text">
                <h2>Khushang Thakkar</h2>
                <p> ISTE- Core Committee Member </p>
                <p>
                    <a href="https://www.facebook.com/khushangt"><i class = "fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/khus.thakkar/"><i class = "fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/khushang-thakkar-581794205/"><i class = "fa fa-linkedin"></i></a>
                    <a href="https://github.com/Thakkar-Khushang"><i class = "fa fa-github"></i></a>
                </p>
            </div>
        </div>
        <div class= "single-team">
            <img src= "/Image/SK.jpg" alt="">
            <div class= "team-text">
                <h2>Sahil Kaling</h2>
                <p> ISTE- Core Committee Member </p>
                <p>
                    <a href="https://www.facebook.com/sahil.kaling.7"><i class = "fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/_heysahil/"><i class = "fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/sahil-kaling-5383641b8/"><i class = "fa fa-linkedin"></i></a>
                    <a href="https://github.com/sahildotexe"><i class = "fa fa-github"></i></a>
                </p>
            </div>
        </div>
        </div>
        </div>
</body>
</html>