<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action ="/api/users/login" method="GET">
                            <div class="form-group">
                                <label for="email">Email Id:</label>
                                <input type="email" name="email" class="form-control" id="email"><br><br>
                            </div>
                            <br>
                             <div class="form-group">
                                <label for="password1">Password</label>
                                <input type="password" name="password1" class="form-control" id="password1">
                            </div><br>
                            <left>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </left>
                        </form>
</body>
</html>