<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title> Footer Design </title>
    <link rel = "stylesheet" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "/style/style-footer.css">
</head>
<body>
        <footer class="footer">
            <div class = "footer-left">
                <img src= "logo.png" alt = "">
                <div class = "socials">
                    <a href = "#"><i class= "fa fa-facebook"></i></a>
                    <a href = "#"><i class= "fa fa-twitter"></i></a>
                    <a href = "#"><i class= "fa fa-github"></i></a>
                    
                </div>
           <ul class="footer-right ">
               <li>
                   <h2>Product</h2>

                   <ul class = "box">
                       <li><a href = "#">Theme design</a></li>
                       <li><a href = "#">Wordpress</a></li>
                       <li><a href = "#">HTML Template</a></li>
                       <li><a href = "#">Plug in Design</a></li>
                    </ul>
                </li>
                <li class = "features">
                    <h2>Useful links</h2>
 
                    <ul class = "box">
                        <li><a href = "#">Memberships</a></li>
                        <li><a href = "#">Blog</a></li>
                        <li><a href = "#">Our team</a></li>
                        <li><a href = "#">Certifications</a></li>
                        <li><a href = "#">Customer Service</a></li>
                     </ul>
                 </li>
                 <li>
                    <h2>Address</h2>
 
                    <ul class = "box">
                        <li><a href = "#">VIT, Vellore Campus</a></li>
                        <li><a href = "#">Tiruvalam Rd, Katpadi</a></li>
                        <li><a href = "#">Vellore-632014,</a></li>
                        <li><a href = "#">Tamil Nadu, India </a></li>
                     </ul>
                 </li>
           </ul> 
           
           <div class="footer-bottom">
               <p>All Rights Reserved by &copy;Kritagya 2021</p>
           </div>
        </footer>
       
</body>
</html> 
