<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            
            <a class="navbar-brand p-0" href="/" style="color: #f4f4f4">
              <img src="/image/logo.png" alt="logo" height=90px width=90px>
            </a>
           
              
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
              
                <li class="nav-item">
                  <a class="nav-link" href="/charities/display">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CHENNAI</a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="#">GOA</a>
                  </li> --}}
                  {{!-- <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank">STORE</a>
                  </li> --}}
               
              </ul>
              <style>
                .navbar-nav{
                  margin-left: auto;
              
                }
              </style>
            
            </div>
            
        </nav>